<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link rel="stylesheet" href="http://regularizacionipn.com/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="http://regularizacionipn.com/css/dark.css" type="text/css" />

	<!-- Travel Demo Specific Stylesheet -->
	<link rel="stylesheet" href="http://regularizacionipn.com/demos/travel/travel.css" type="text/css" />
	<link rel="stylesheet" href="http://regularizacionipn.com/demos/travel/css/datepicker.css" type="text/css" />
	<!-- / -->

	<!-- Construction Demo Specific Stylesheet -->
	<link rel="stylesheet" href="http://regularizacionipn.com/demos/construction/construction.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="http://regularizacionipn.com/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="http://regularizacionipn.com/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="http://regularizacionipn.com/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="http://regularizacionipn.com/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="http://regularizacionipn.com/css/colors.php?color=AC4147" type="text/css" />

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="http://regularizacionipn.com/js/jquery.js"></script>
	<script type="text/javascript" src="http://regularizacionipn.com/js/plugins.js"></script>

	<!-- Travel Demo Specific Script -->
	<script type="text/javascript" src="http://regularizacionipn.com/demos/travel/js/datepicker.js"></script>
	<!-- / -->

	<!-- Document Title
	============================================= -->
	<title>Regularizaci&oacute;n IPN</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Top Bar
		============================================= -->
		<div id="top-bar" class="transparent-topbar dark">

			<div class="container clearfix">

				<div class="col_half nobottommargin clearfix">

					<!-- Top Links
					============================================= -->
					<div class="top-links">
						<ul>
                            <li><a href="http://regularizacionipn.com/index.html">Inicio</a></li>
                            <li><a href="http://regularizacionipn.com/index.html">Cursos</a></li>
                            <li><a href="http://regularizacionipn.com/bancos/index.html">Números de cuenta</a></li>
                        </ul>
					</div><!-- .top-links end -->

				</div>

				<div class="col_half fright col_last clearfix nobottommargin">

					<!-- Top Social
					============================================= -->
					<div id="top-social">
						<ul>
                            <li><a href="https://www.facebook.com/RegularizacionIPN" target="_blank" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                            <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                            <li><a href="tel:+52.55.26801666" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">26801666</span></a></li>
                            <li><a href="mailto:regularizacionipn@hotmail.com" class="si-email3"><span class="ts-icon"><i class="icon-envelope-alt"></i></span><span class="ts-text">regularizacionipn@hotmail.com</span></a></li>
                            <li><a href="#" class="si-soundcloud"><span class="ts-icon"><i class="icon-home"></i></span><span class="ts-text">Zacatenco IPN, México D.F.</span></a></li>
                        </ul>
					</div><!-- #top-social end -->

				</div>

			</div>

		</div><!-- #top-bar end -->

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header dark" data-sticky-class="not-dark" data-responsive-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
					<div id="logo">
						<a href="http://regularizacionipn.com/index.html" class="standard-logo" data-dark-logo="http://regularizacionipn.com/images/logo-dark.png"><img src="http://regularizacionipn.com/images/logow.png" alt="Regularización IPN Logo"></a>
						<a href="http://regularizacionipn.com/index.html" class="retina-logo" data-dark-logo="http://regularizacionipn.com/images/logo-dark@2x.png"><img src="http://regularizacionipn.com/images/logow.png" alt="Regularización IPN Logo"></a>
					</div>
				</div>

			</div>

		</header><!-- #header end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="promo promo-light promo-full  bottommargin-lg header-stick">
					<div class="container clearfix">
						<h3 class="bold">###nombre###</h3>
						<span>###descripcion###</span>
						<a href="../registro" class="button button-large button-border button-rounded">Inscr&iacute;bete</a>
					</div>
				</div>
			</div>

			<div class="container clearfix mt-100">

					<div class="clear-bottommargin">
						<div class="row common-height clearfix">
							<div class="col-md-6 col-sm-6 bottommargin">
								<div class="feature-box fbox-plain">
									<div class="fbox-icon">
										<a data-toggle="modal" href="#" onclick="mostrarGrupos(###id###);"><img src="http://regularizacionipn.com/images/grupos.png" alt="Concrete Developments"></a>
									</div>
									<h3>Grupos</h3>
                                    <p>Consulta los grupos disponibles.</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 bottommargin">
								<div class="feature-box fbox-plain">
									<div class="fbox-icon">
										<a href="###temario###" ###descargar###><img src="http://regularizacionipn.com/images/temario.png" alt="Temario"></a>
									</div>
									<h3>Temario</h3>
                                    <p>Da clic y descarga el temario.</p>
								</div>
							</div>
						</div>
					</div>

				</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark" style="background-color: #212121;">
            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        Desarrollado por GeanWeb<br>
                        <div class="copyright-links"><a href="https://www.facebook.com/GEANWeb-888418104506663/" target="_blank">Facebook</a> / <a href="http://geanweb.com/" target="_blank">Página Web</a></div>
                    </div>

                    <div class="col_half col_last tright">
                        <div class="fright clearfix">
                            <a href="#" class="social-icon si-small si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless si-instagram">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>
                        </div>

                        <div class="clear"></div>

                        <i class="icon-envelope2"></i>  regularizacionipn@hotmail.com <span class="middot">·</span> <i class="icon-telephone"></i> (55) 2680 16666 <span class="middot">·</span>
                    </div>

                </div>

            </div><!-- #copyrights end -->

        

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-body">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Grupos de c&aacute;lculo</h4>
					</div>
					<div class="modal-body">
						<h4 class="orange1">Grupo Cálculo matutino</h4>
                        <p><strong>Horario: </strong>9 am – 12 pm<br><br> <strong>Clases:</strong><br> - Lunes 7 de Marzo <br> - Miércoles 9 de Marzo <br> - Jueves 10 de Marzo <br> - Lunes 14 de Marzo <br> - Miércoles 16 de Marzo <br> - Jueves 17 de Marzo <br><br> <strong>Costo:</strong> $800 <br><br> <strong>Sede:</strong> Zacatenco</p>
						<hr>
						<h4 class="orange1">Grupo Cálculo vespertino</h4>
						<!--h5><strong>Vespertino</strong></h5-->
						<p><strong>Horario: </strong>4 pm – 7 pm<br><br> <strong>Clases:</strong><br> - Lunes 7 de Marzo <br> - Miércoles 9 de Marzo <br> - Jueves 10 de Marzo <br> - Lunes 14 de Marzo <br> - Miércoles 16 de Marzo <br> - Jueves 17 de Marzo <br><br>  <strong>Costo:</strong> $800 <br><br> <strong>Sede:</strong> Zacatenco</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<a type="button" href="http://registro2016.regularizacionipn.com" class="btn btn-success">Registrarse</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="http://regularizacionipn.com/js/functions.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71843105-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>